.button {
	width: 145px;
	height: 40px;
	border-radius: 8px;
	color: #0079c2;
	border: 1px solid #0079c2;
	background-color: transparent;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Open Sans', 'Roboto', Arial;
	cursor: pointer;
	align-self: flex-end;
	justify-self: right;
}

.button:hover {
	color: #fff;
	background-color: #0079c2;
}
