.cell-input {
	text-align: center;
	width: 86px;
	height: 24px;
	border: none;
	background-color: inherit;
	font-size: 15px;
}

.cell-input:focus {
	background-color: #fff;
	border: 1px solid rgba(10, 143, 220, 1);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	outline: none;
	text-align: left;
}
